@page "/Userlogin"
@using Employee_Crud_Blazor.Data
@inject UsersService usersService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<form>
    <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" class="form-control" @bind="username" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" @bind="password" />
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Login">Login</button>
</form>

@code {
    private string username;
    private string password;
    private string errorMessage;

    [Parameter]
    public string login { get; set; }
    Users obj = new Users();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => usersService.GetUserByUsernameAsync((login)));
    }    

    private async Task Login()
    {
        // Validate user credentials
        //bool isValid = false;

        if (password == obj.Password && username == obj.Login)
        {
            // Redirect to a protected page after successful login
            NavigationManager.NavigateTo("/Users");
        }
        else
        {
            // Display an error message
            errorMessage = "Invalid username or password.";
        }
    }    
}
