@page "/Users"
@using Employee_Crud_Blazor.Data
@inject UsersService usersService


<NavLink class="nav-link" href="AddNewUser">
    <span class="oi oi-plus" aria-hidden="true"> Add New User</span>
</NavLink>

<h3>User List</h3>

@if (userObj is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    User Id
                </th>
                <th>
                    User FullName
                </th>
                <th>
                    Email Address
                </th>
                <th>
                    Create Date
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in userObj)
            {
                @if (user.DeleteDate == null)
                {
                    <tr>

                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.FullName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.CreateDate
                    </td>
                    <td>
                        <a class="nav-link btn btn-primary" href="EditUser/@user.Id">
                            <span class="oi oi-pencil" aria-hidden="true"> Edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link btn btn-danger" style="color: white" href="DeleteUser/@user.Id">
                            <span class="oi oi-trash" aria-hidden="true"> Delete</span>
                        </a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
}


@code {
    List<Users> userObj;

    protected override async Task OnInitializedAsync()
    {
        userObj = await Task.Run(() => usersService.GetAllUsers());
    }

}
